<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>DuelChess - Jogue xadrez online com seus amigos!</title>

<!-- Arquivos CSS -->
<link rel="stylesheet" href="/css/main.css">

<!-- Arquivos JavaScript -->
<script src="/js/main.js"></script>
